.product {
  width: 25%;
  padding: 0 4%;
  float: left;
}
.product-title {
  font-family: 'Cormorant Garamond', serif;
  font-size: 17px;
  margin: 0px;

}

.product-price {
  margin-top: 0px;
}

.product-img {
  width: 90%;
  margin: auto;
}
.product-img > img {
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  .product {
    width: 46%;
    padding: 0 2%;
    float: left;
  }
}
@media only screen and (max-width: 414px) {
  .product {
    width: 96%;
    padding: 0 2%;
    float: left;
    text-align: center;
  }
}
